html {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    /* This part is important for centering the content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* End center */
    flex-direction: column;
}

h3 {
    color: #fafafa;
}

button {
    margin-bottom: 2rem;
    background-color: #fafafa;
}